<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tmpl/1.0.0/jquery.tmpl.min.js"></script>

</head>
<table>
    <thaed>
        <tr>
            <th>UserName</th>
            <th>Mobile</th>
            <th>Address</th>
        </tr>
        
    </thaed>
    <tbody id="tmplBody"></tbody>
</table>

@* <script src="~/jquery.tmpl.js"></script> *@
<script src="~/user/userlist.js"></script>


<script type="text/x-jquery-tmpl" id="tmplData">
    
</script>